:root{
    --COL_mainBG: black;
    --COL_gameBG: antiquewhite;
    --COL_defaultText:white;
    --COL_altDefaultText:antiquewhite;

    --TINT_dark:rgba(0,0,0,.75);
    --TINT_lowDark: rgba(0,0,0,.25);
    --TINT_light:rgba(0, 254, 246, 0.2);
    --TINT_green_light:rgba(0, 255, 0, 0.2);
    --TINT_red_light:rgba(255,0,0,.2);

    --SIZE_defaultGap:1.5em;
    --SIZE_defaultPadding:1.5em;
}
html{
    height:100%;
    width:100%;
    background-image: url('./../images/cat-black-moon-pattern-repeating.png');
    background-size:33%;
    color:var(--COL_defaultText);
}
body{
    width:100%;
    height:100%;
}
h1{
    font-size: 4em;
}
h3{
    font-size: 2em;
}
#gameWindow {
    position: relative;
    width:100%;
    height:100%;
    background-color: var(--TINT_dark);
}

.fullscreen{
    position:absolute;
    width:100%;
    height:100%;
}
.fl-col-center{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.fl-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.gap{
    gap:var(--SIZE_defaultGap);
}
.pad{
    padding:var(--SIZE_defaultPadding);
}
.scene-container{
    width:100%;
    height:100%;
}
.section-container{
    position:relative;
    background-color: var(--TINT_light);
}
.quarter-box{
    width:25%;
    aspect-ratio: 1;
}
.grid-board-container{
    display:grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}
.board-tile{
    width: 100%;
    height:100%;
    border:1px solid;
    box-sizing:border-box;
}
.tile-hover{
    border:3px solid var(--COL_altDefaultText);
}
.tile-greenbg{
    background-color: var(--TINT_green_light);
}
.tile-redbg{
    background-color: var(--TINT_red_light);
}
.red-border{
    border: 1px solid red;
}
.border{
    border:1px solid;
}
.border-2px{
    border:2px solid;
}

/* Animations */
.blink{
    animation: 2s infinite alternate blink;
}
@keyframes blink {
    from {opacity: 100%;}
    33%{opacity: 100%}
    to {opacity:0%;}
}